*{
	padding: 0px;
	margin: 0px;
}

h2{
	margin-top: 20px;
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
}

body{
    background-color: #f1f1f1;
}

#Container input{
	padding: 10px;
	width: 500px;
	margin-left: 400px;
	font-family: 'Trebuchet MS', sans-serif;

}

#load{
	margin-top: 50px;
	margin-left: 623px;
	height: 50px;
	width: 50px;
}

#wait{
	margin-top: 200px;
	margin-left: 600px;
	font-family: 'Trebuchet MS', sans-serif;
}

#Container label{
	margin-left: 400px;
	font-family: 'Trebuchet MS', sans-serif;
}

button{
	font-family: 'Trebuchet MS', sans-serif;
	margin-left: 400px;
	width: 100px;
	padding: 10px;
	background-color: #000033;
	font-size: 15px;
	font-family: tahoma;
	color: #cccccc;
}

p{
	text-align: center;
	text-decoration-line: unset;
	font-family: 'Trebuchet MS', sans-serif;
}

#check{
	margin-top: 50px;
	margin-left: 600px;
	height: 100px;
	width: 150px;
}

#congrat{
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	margin-top: 150px
}

#login a{
	text-decoration: unset;
	color: white;
}

#login{
	margin-top: 20px;
	margin-left: 620px;
}