*{
    margin: 0px;
    padding: opx;
}

body{
    background-color: #f1f1f1;
}

#container{
    width: 320px;
    height: 80px;
    background-color: lavender;
    margin-left: 520px;
    border: 1px solid #ddd;
    margin-top: 130px;
    box-shadow: 20px;
}

#contain{
    background: #fff;
    width: 320px;
    height: 180px;
    margin-top: 60px;
}

#contain label{
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    margin-top: 50px;

}

input {
    font-family: 'Trebuchet MS', sans-serif;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}

p{
    font-family: 'Trebuchet MS', sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 16px;

}

#btn a{
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 50px;
    color: white;
        
}

#btn{
    margin-left: 144px;
    margin-top: 15px;
    height: 35px;
    background-color: #000033;
    width: 140px;
}

#login{
    margin-top: 10px;
}

#login a{
    text-decoration: unset;
    color: #757879;
}

#homepage a{
    text-decoration: unset;
    color: #757879;
}