*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url(../Image/bg6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	padding: 20px;
	border: 1px solid white;
	width: 1000;
}

header a{
	color: white;
	font-size: 40px;
	text-decoration: none;
	font-family: tahoma;

}
#Big_Wrapper{
	border: 1px solid white;
	width: 1000px;
	margin: 20px auto;
}

#Nav li {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	font-size: 20px;
}

#Nav li a{
	color: white;

}

#button button{
	margin-top: 450px;
	margin-left: 460px;
	height: 50px;
	width: 120px;
	border-radius: 10px;
	font-size: 15px;
}

li {
	color: white;
}